<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Patricks Student Portfolio</h3>
      <hr>
        <div class="row">
          <nav class="nav nav-masthead justify-content-center" style="font-weight: bold;">
            <a id="homeBtn" class="nav-link active" href="/">Home</a>
            <a id="productsBtn" class="nav-link"  href="/products" >Products</a>
            <a id="contactBtn" class="nav-link"  href="/contact" >Contact</a>
        </div>
      </h3>
    </div> 
  </header>
</body>
</html>