
    {{> _navbar}}
    {{> _background}}

    


    <div id="About" class="tabcontent" id="tabcontent-alt">
    <div class="profile-container"> 
        <img class="profile_pic" src="/assets/profile.png" alt="profile.png" style="width:170px;height:170px;" >    
    </div>
    <h3 class="section-head">Contact/About</h3>
        <div class="doc-main">
            <b>Software Development</b>
            <div class="doc-content">
                <p>I have worked on a numeber of projects and am always looking to be part of the next big thing. This means that I am
                constantly learning new things. If youre interested in working with me or need help developing a tech idea you can
                contact me at the above email.
                Check out my projects!</p>
            </div>
        
            <br/>

            <b>Web Design</b>
            <div class="doc-content">
                <p>I make custom websites at an unbeatable price. I'll talk to you, find out exactly what you are looking for and
                implement that in a stunning website using CSS HTML and JAVA. Because I am a freelance developer I can 
                devote all my time to making you the perfect website. I'll take you from plan to presentation and be there every
                step of the way.</p><br/>
                <p>Websites can make use of a variety of features such as is listed below.</p>
                    <div class="li-container">
                        <li>Node and other libraries</li>
                        <li>Mongodb and mySQL.</li>
                        <li>Express.</li>
                        <li>Use of sentence prediction AI.</li>
                        <li>Facial recognition AI.</li>
                        <li>Custom animation on images, videos, or backgrounds.</li>
                    </div>
                <p>Contact me for details and pricing at:<b>p.tomas14@gmail.com</b></p><br/>
            </div>
            
            <br/>

            <b>Student</b>
            <div class="doc-content">
                <p>As a student I previously attended The University of Colorado Boulder for Electrical Engineering, and spent another
                year enrolled at Santa Barbara City College for Computer Science.</p>
            </div>
        </div>
    </div>
