
  {{> _navbar}}
  {{> _background}}
  {{> _splatter}}
 
  <div id="Websites" class="tabcontent">
    <div class="profile-container"> 
    <img class="profile_pic" src="/assets/profile.png" alt="profile.png" style="width:170px;height:170px;" >    
    </div>
    <h3 class="section-head" >Websites</h3>
      <div class="doc-main-alt">
        <div class="gallery">
          <div class="responsive">
            <a target="_blank" href="https://ptomas.github.io/Sicily-By-Gino/">
              <img src="assets/Sicily by Gino.png" alt="site1" width="300" height="200" >
            </a>
            <div class="desc"><b>Website for <i>Sicily by Gino</i></b></div>
          </div>
          <div class="responsive">
            <a target="_blank" href="https://ptomas.github.io//">
              <img src="assets/fitnessTracker.png" alt="site2" width="300" height="200" >
            </a>
            <div class="desc"><b>Fitness Tracker</b></div>
          </div>
          <div class="responsive">
            <a target="_blank" href="https://ptomas.github.io/Small-business-template-2/">
              <img src="assets/burgers.png" alt="site3" width="300" height="200" >
            </a>
            <div class="desc"><b>Burger Restaraunt</b></div>
          </div>
          <div class="responsive">
            <a target="_blank" href="https://ptomas.github.io/week3_homework3/">
              <img src="assets/passwordGenorator.png" alt="site3" width="300" height="200" >
            </a>
            <div class="desc"><b>Password Genorator</b></div>
          </div>
        </div>
      </div>
  </div>
      
