
    {{> _navbar}}
    {{> _background}}
    

    <div id="Projects" class="tabcontent" id="tabcontent-alt">
    <div class="profile-container"> 
        <img class="profile_pic" src="/assets/profile.png" alt="profile.png" style="width:170px;height:170px;" >    
    </div>
    <h3 class="section-head" >Projects</h3>
        <div class="doc-main">
            <b>Now We're Talking</b>
            <div class="doc-content">
                <p>Now We’re Talking allows users to communicate about changes in their government by pulling acts publicly
                posted by the senate and facilitating the online debate process. To do this Now We’re Talking allows
                users to view issues/legislation in scrolling cells on the topics page. Once an item is clicked the
                user shall be able to agree or disagree with the issue. Upon making a decision users are then placed
                into groups of 10 for debate where they can link articles from the scrolling link view(horizontal) in
                the message board area for the discussions page. The groups shall be placed in is balanced by the
                percentage of total users that agree or disagree ie. if 50% agree the ratio should be 5-5 and so on.
                In this way, users shall be able to act as representatives of their opinion in a real debate setting. 
                each time a user is convinced to change opinions (using the opinion buttons also located on the discussion
                page) users in that group are placed into a new group still balanced by the percentage of total user 
                opinions. topics shall be able to be favourited on the discussion page as well. Once tagged as a favourite
                the topic shall appear on the favourites page. A graph of total user opinions on that topic(highlighted)
                as well as others shall also be available upon clicking the title on the graphs page.<p>
                <div class="app-container">
                    <img class="app" src="assets/nowWereTalking0.png" alt="nowWereTalking0.png" img-shadow="3px;">
                    <img class="app" src="assets/nowWereTalking2.png" alt="nowWereTalking2.png" img-shadow="3px;">
                    <img class="app" src="assets/nowWereTalking3.png" alt="nowWereTalking3.png" img-shadow="3px;">
                </div>
            </div> 
            
            <br/>
                
            <b>DevBoard</b>
            <div class="doc-content">
                <p>DevBoard is a mobile app for IOS that allows users to find and connect with software developers.
                Swipe through  profiles to find the right software developer for what you need.</p>
                <div class="dev">
                    <img class="devBoard" src="assets/devBoard.jpg" alt="devboard">
                </div>
            </div>
        
            <br/>

            <b>StranBeast</b>
            <div class="doc-content">
                <p>This project which took place my freshman year of engineering was paryt of an assignment I had for a projects class
                in which we were instructed to make an efficiant transportation mechanism that would carry a mass. Through careful 
                calculation our team designed a quadripeadal walking contraption on solidworks, lasercut the required chassis
                componants, and prototyped a circuit board to play music for a set amount of time as well as making it walk.</p> 
                <div class="stran">
                    <img src="assets/stranbeest (1).gif" alt="project1" style="width:560px; height:300px;">
                </div>
            </div> 
        </div>
        </div>
